<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Formulário de Brinquedo</title>
</head>
<body>
<div class="container">
    <h1 th:text="${brinquedo.id == null} ? 'Adicionar Brinquedo' : 'Editar Brinquedo'"></h1>
    <form th:action="@{/salvar}" th:object="${brinquedo}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" th:field="*{descricao}" required></textarea>

        <button type="submit">Salvar</button>
    </form>
    <a href="/listar" class="button">Cancelar</a>
</div>
</body>
</html>
